html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
}

header {
  background: url("images/th.png");
}

#header-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: linear-gradient(45deg, #0798abfa, transparent);
}

#main {
  flex: 1;
}
header h1 {
  margin: 0 0 10px 0;
  color: #fff;
}

header h2 {
  margin: 0;
  color: #fff;
}

#header-info {
  text-shadow: 1px 1px 2px #000000;
  flex: 1;
  padding: 10px;
}

#my-picture {
  padding: 5px;
  width: 108px;
  height: 108px;
}

#teamsTable {
  width: 100%;
  border-collapse: collapse;
}

#teamsTable th,
#teamsTable td {
  border: 1px solid #057988;
}

.remove-btn:hover {
  cursor: pointer;
  text-decoration: underline;
  color: darkred;
}

.edit-btn:hover {
  cursor: pointer;
  text-decoration: underline;
  color: green;
}
